.footer-div {
  background-image: url('assets/backgrounds/background-3.png');
  background-size: cover;       /* Scales image to cover the div */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  height: 40rempx;
  padding: 2rem;
}

.footer-shm-icon {
  width: 8rem;
}

.social-media-icons {
  width: 2rem;
  margin: 1rem;
}

.social-media-icons-div {
  display: flex;
  flex-direction: row;
}

.useful-links-items {
  color: white;
}

.shm-text {
  color: rgb(255, 255, 255);
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: -0.2rem;
}

.shm-text-2 {
  color: #8298cc;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 0.6rem;
  margin-top: 0;
}

.useful-links-items:hover {
  opacity: 0.5;
  color: black;
}

.social-media-icons-2 {
  width: 1.5rem;
  margin-bottom: 0;
}

.contact-details {
  color: white;
  font-size: 1rem;
}

.useful-links-heading {
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0;
}

.copyright-section {
  background-color: #002375;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

