.testimonial-heading {
  color: #231f20;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  margin: 2rem;
}

.testimonial-section {
  background-color: #f4f4f4;
}

.testimonial-carousel {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
}

.testimonial-carousel .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial-carousel img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-nav {
  color: #be412f;
  font-size: 2rem;
}

.testimonial-carousel img {
  width: 15rem;         /* Set desired width */
  height: auto;         /* Maintain aspect ratio */
  object-fit: contain;  /* Prevent cropping */
  border-radius: 2rem;   /* Optional: rounded corners */
}